@charset "utf-8";


.tierlist {
  width: 1050px;
  background-color: #2c2a2a;
  padding: 20px 0px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.tierlist h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.tierlist h2::after {
  content: '';
  display: block;
  width: 200px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.MUTITLE {
  display: flex;
  justify-content:center;
  position: relative;
  align-items: center;
  padding: 20px 0;
}

.MUTITLE img {
  width: 180px;
  position: absolute;
  right: 5%;
}

.MU_table {
  width: 1000px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.MU_box {
  display: flex;
  margin-top: 5px;
  flex: 1 1 auto;
}

.MU_title {
  padding: 10px;
  width: 300px;
  text-align: center;
  margin-right: 5px;
  display: table;
  font-weight: bold;
  border: solid 1px #837f7f;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.MU_table p {
  line-height: 1.5;
  display: table-cell;
  vertical-align: middle;
}

.MU_title_yuuri {
  background: linear-gradient(90deg, #ff3331, #ff7e21);
}

.MU_title_biyuuri {
  background: linear-gradient(90deg, #ffa300, #ede404);
}

.MU_title_gobu {
  background: linear-gradient(270deg, #c4e126, #39f68f);
}

.MU_title_bihuri {
  background: linear-gradient(270deg,  #1cddeb, #3782f6);
}

.MU_title_huri {
  background: linear-gradient(90deg, #4d3eff, #8833ff);
}

.MU_result {
  width: 693px;
  background-color: #333536;
  padding: 5px;
  border: solid 1px #837f7f;
}

.MU_result img {
  margin-top: 0.5px;
  padding-top: 2px;
  width: 63px;
  margin-left: 1px;
  margin-bottom: 0px;
}

/*詳細*/

/* === ソートボタン ============================== */
.tsImg{
  display    :inline-flex;
  width      : 20px;
  height     : 18px;
  background : #eee;
  border     : 1px solid grey;
  margin-top   : 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding    : 5px;
  cursor     : pointer;
}
/* === ソートボタン（カーソルオーバー時）========= */
.tsImg:hover{
  background : grey;
}
/* === ソートボタン内の三角の色（SVG）============ */
.tsImg path{
  fill       : #333536;
}
 
.sorttbl p {
  font-size: 0%;
}

table {
  width: 600px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center; /* 全テキストを中央寄せ */
}

th, td {
  padding: 5px 2px;
  border: solid 1px white;
  border-radius: 5px;
}

th {
  background-color: #504545;
  color: white;
  font-size: 18px;
  line-height: 1.5;
}

td {
  background-color: #292828;
}

td img {
  width: 50px;
  margin-top: 0px;
  align-items: center;
  border-radius: 5px;
}

.footer {
  margin-top: 50px;
}


@media (max-width: 800px) {

  .tierlist {
    max-width: 98%;
    padding: 10px 0px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .tierlist h2 {
    font-size: 12px;
  }
  
  .tierlist h2::after {
    max-width: 40%;
    height: 2px;
    margin-top: 10px;
  }
    
  .MUTITLE {
    padding: 1% 0;
  }
  
  .MUTITLE img {
    width: 20%;
    position: absolute;
    right: 5%;
  }
  
  .MU_table {
    max-width: 95%;
    margin-top: 10px;
  }
  
  .MU_box {
    display: flex;
    margin-top: 2px;
    flex: 1 1 auto;
  }

  .MU_title {
    padding: 0px;
    padding-top: 0.5px;
    text-align: center;
    margin-right: 2px;
    border: solid 0.5px #eee;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  .MU_table p {
    font-size: 8px;
    line-height: 1.5;
    display: table-cell;
    vertical-align: middle;
  }
  
  .MU_result {
    width: 693px;
    padding: 0;
    padding-top: 0.5px;
    border: solid 0.5px #837f7f;
  }
  
  .MU_result img {
    padding-top: 1.0%;
    padding-bottom: 0.4%;
    width: 63px;
    max-width: 7.5%;
    margin-left: 0.4%;
    margin-bottom: 0px;
  }

    /* === ソートボタン ============================== */
  .tsImg{
    display    :inline-flex;
    width      : 12px;
    height     : 10px;
    
    background : #eee;
    border     : 1px solid grey;
    margin-top   : 4px;
    margin-right: 4px;
    margin-left: 4px;
    padding    : 1px;
    cursor     : pointer;
  }
  /* === ソートボタン（カーソルオーバー時）========= */
  .tsImg:hover{
    background : grey;
  }
  /* === ソートボタン内の三角の色（SVG）============ */
  .tsImg path{
    fill       : #333536;
  }
  
  .sorttbl p {
    font-size: 0%;
  }


  table {
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center; /* 全テキストを中央寄せ */
  }

  th {
    font-size: 12px;
    line-height: 1.5;
  }
  
  td {
    font-size: 10px;
  }
  td img {
    width: 30px;
  }

}
